html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
}

* {
    outline: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: $font-size-base;
    font-family: $open-regular;
    -webkit-font-smoothing: subpixel-antialiased;
    height: 100%;
    width: 100%;
    line-height: 1.15;
    color: $bc-white;
}


h1 {
    font-family: $raleway-bold;
    font-size: 50px;
    margin: 0;
    padding-bottom: 20px;
}

h3 {
    color: $bc-gray;
}

a {
    color: $bc-white;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
        color: $bc-secondary-color;
    }
}

ul li{
  list-style-type: none;
}

