<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Research</title>

	<link rel="stylesheet" href="css/bootstrap.css"> <!-- bootstrap -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->

	<script type="text/javascript" src="js/script.js"></script>
</head>
<body class="research">
	{{> header }}
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="prof-left v-center">
					<div class="ico-profile">
                                <i class="icon icon-wrapper fa fa-user" aria-hidden="true"></i>
                                <div class="user-name-wrap">
                                	                                User Name
                                </div>
                            </div>
				

						<ul class="list-item">
							<li class="item">
								Add Research
							</li>
							<li class="item">
								Research List
							</li>
						</ul>

						<span id="make-donation" class="bc-btn bc-btn-primary">Make a donation</span>

					</div>
	

			</div>
			<div class="col-md-8">
				<div class="prof-right">
					<h1 class="v-left" >Add Research</h1>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
											<label>
												Title
											</label>
										<input type="text" name="location" class="form-control" 
											
										>
								</div>

							</div>
							<div class="col-md-6">
										<div class="form-group">
											<label>
												Location
											</label>
											<input type="text" name="location" class="form-control" 
												
											>
							</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
								  <label for="comment">Comment:</label>
								  <textarea class="form-control" rows="5" id="comment"></textarea>
								</div>
								<div class="bc-button-wrap">
											<span class="bc-btn bc-btn-default">Upload Documents</span>
								<span class="bc-btn bc-btn-default">Add New</span>
								</div>
						
							</div>
							
						</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>