<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Watch</title>

	<link rel="stylesheet" href="css/bootstrap.css"> <!-- bootstrap -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->

	<script type="text/javascript" src="js/script.js"></script>
</head>
<body class="research">
	{{> header }}
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="prof-left v-center">
					<div class="ico-profile">
                                <i class="icon icon-wrapper fa fa-user" aria-hidden="true"></i>
                                <div class="user-name-wrap">
                                	                                User Name
                                </div>
                            </div>
				

						<ul class="list-item">
							<li class="item">
								New Cases
							</li>
							<li class="item">
								Active Cases
							</li>
								<li class="item">
								Solved Cases
							</li>
						</ul>

					</div>
	

			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
										<div class="prof-right">
					<h1 class="v-left" >New Cases</h1>
					<img id="v-watch" class="v-watch-wrapper" src="images/watch-dog-1.jpg" alt="watch">
				</div>
					</div>
				</div>
						<div class="row">
					<div class="col-md-12">
										<div class="prof-right">
					<h1 class="v-left" >Solved Cases</h1>
					<img id="v-watch" class="v-watch-wrapper" src="images/watch-dog-2.jpg" alt="watch">
				</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>