<div class="login-inputs">
	{{> input text="Full Name" id="name" name="name" }}
	{{> input text="Email" id="email" name="email" }}
	{{> input text="Username" id="username" name="username" }}
	{{> input text="Password" id="pass" name="pass" }}
	{{> input text="Verify Password" id="pass2" name="pass2" }}
</div>