<header>
	<div class="v-language pull-right">
		<a href="#">English</a> |
		<a href="#">Bahasa Malaysia</a>
	</div>
	
	{{#if session.loggedIn }}
		<div class="v-language login-button pull-right">
			<a href="#"
				class="report-link"
				data-toggle="modal" 
				data-target="#report-modal"
			>
				Report
			</a>
		</div>
		<div class="v-language login-button pull-right">
			<a href="/logout">
				Logout
			</a>
		</div>
	{{else}}
		<div class="v-language login-button pull-right">
			<a href="#"
				data-toggle="modal" 
				data-target="#login-modal"
			>
				Login
			</a>
		</div>
	{{/if}}
</header>