<div class="login-inputs pull-left">
	{{> input text="Full Name" id="name" name="name" }}
	{{> input text="ID" id="id" name="id" }}
	{{> input text="Name of Organisation" id="organisation" name="organisation" }}
	<div class="form-group">
		<label for="{{ role }}-gender">Gender</label>
		<select class="custom-select form-control" id="{{ role }}-gender">
		  <option selected></option>
		  <option value="male">Male</option>
		  <option value="female">Female</option>
		  <option value="unknown">Prefer not to say</option>
		</select>
	</div>
</div>
<div class="login-inputs pull-right">
	{{> input text="Email" id="email" name="email" }}
	{{> input text="Username" id="username" name="username" }}
	{{> input text="Password" id="pass" name="pass" }}
	{{> input text="Verify Password" id="pass2" name="pass2" }}
</div>